In [2]:
import setup_django
setup_django.init()

In [3]:
from movies.models import Movie

qs = Movie.objects.all().values('title', 'release_date', 'rating_avg', 'rating_count')
qs

<MovieQuerySet [{'title': 'Ariel', 'release_date': datetime.date(1988, 10, 21), 'rating_avg': Decimal('2.77'), 'rating_count': 56}, {'title': 'Shadows in Paradise', 'release_date': datetime.date(1986, 10, 16), 'rating_avg': Decimal('3.17'), 'rating_count': 47}, {'title': 'Four Rooms', 'release_date': datetime.date(1995, 12, 9), 'rating_avg': Decimal('2.61'), 'rating_count': 59}, {'title': 'Judgment Night', 'release_date': datetime.date(1993, 10, 15), 'rating_avg': Decimal('3.11'), 'rating_count': 66}, {'title': 'Star Wars', 'release_date': datetime.date(1977, 5, 25), 'rating_avg': Decimal('2.96'), 'rating_count': 72}, {'title': 'Finding Nemo', 'release_date': datetime.date(2003, 5, 30), 'rating_avg': Decimal('3.24'), 'rating_count': 42}, {'title': 'Forrest Gump', 'release_date': datetime.date(1994, 7, 6), 'rating_avg': Decimal('2.96'), 'rating_count': 69}, {'title': 'American Beauty', 'release_date': datetime.date(1999, 9, 15), 'rating_avg': Decimal('2.91'), 'rating_count': 54}, {'title': 'Citizen Kane', 'release_date': datetime.date(1941, 4, 30), 'rating_avg': Decimal('3.00'), 'rating_count': 46}, {'title': 'Dancer in the Dark', 'release_date': datetime.date(2000, 5, 17), 'rating_avg': Decimal('2.79'), 'rating_count': 48}, {'title': 'The Dark', 'release_date': datetime.date(2006, 1, 26), 'rating_avg': Decimal('3.04'), 'rating_count': 57}, {'title': 'The Fifth Element', 'release_date': datetime.date(1997, 5, 7), 'rating_avg': Decimal('3.02'), 'rating_count': 50}, {'title': 'Metropolis', 'release_date': datetime.date(1927, 1, 10), 'rating_avg': Decimal('3.20'), 'rating_count': 54}, {'title': 'My Life Without Me', 'release_date': datetime.date(2003, 3, 7), 'rating_avg': Decimal('2.47'), 'rating_count': 49}, {'title': 'The Endless Summer', 'release_date': datetime.date(1966, 6, 15), 'rating_avg': Decimal('2.90'), 'rating_count': 50}, {'title': 'Pirates of the Caribbean: The Curse of the Black Pearl', 'release_date': datetime.date(2003, 7, 9), 'rating_avg': Decimal('3.27'), 'rating_count': 45}, {'title': 'Kill Bill: Vol. 1', 'release_date': datetime.date(2003, 10, 10), 'rating_avg': Decimal('2.78'), 'rating_count': 58}, {'title': 'Jarhead', 'release_date': datetime.date(2005, 11, 4), 'rating_avg': Decimal('2.84'), 'rating_count': 49}, {'title': 'Walk on Water', 'release_date': datetime.date(2004, 2, 5), 'rating_avg': Decimal('3.00'), 'rating_count': 51}, {'title': '9 Songs', 'release_date': datetime.date(2004, 7, 16), 'rating_avg': Decimal('3.20'), 'rating_count': 49}, '...(remaining elements truncated)...']>

In [4]:
import pandas as pd

df = pd.DataFrame(qs)
df.head(10)

                 title release_date rating_avg  rating_count
0                Ariel   1988-10-21       2.77            56
1  Shadows in Paradise   1986-10-16       3.17            47
2           Four Rooms   1995-12-09       2.61            59
3       Judgment Night   1993-10-15       3.11            66
4            Star Wars   1977-05-25       2.96            72
5         Finding Nemo   2003-05-30       3.24            42
6         Forrest Gump   1994-07-06       2.96            69
7      American Beauty   1999-09-15       2.91            54
8         Citizen Kane   1941-04-30       3.00            46
9   Dancer in the Dark   2000-05-17       2.79            48